<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
  <a class="nav-link" [routerLink]="['/camisetas']">
  <img src="img/favicon.png" alt="Inicio" class="home-icon"></a>
  Camisetas con Historia
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- Usamos routerLink en lugar de href para navegar sin recargar la página -->
        <a class="nav-link" [routerLink]="['/camisetas']">Camisetas</a>
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </div>
    </div>
  </div>
</nav>

<!-- El contenedor dinámico donde se inyectarán las páginas -->
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
