// input-integer.scss

.form-control.text-center {
  &[type="number"] { 
    width: 55px;
    height: 31px;
    font-weight: bold;
    padding: 0;
    margin-left: auto;  
    margin-right: auto; 

    
    appearance: textfield; 
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      background: transparent;
      appearance: none;
      margin: 0;
    }
  }
}